.container1 {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  text-align: center;
  margin-bottom: 20px;
}

.menu-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-content: stretch;
}

.menu-section1 {
  margin-top: 20px;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category {
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

  .sub-items li {
    margin-bottom: 5px;
  }

  .sub-items a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }

  .sub-items img {
    width: 80px !important;
    height: 65px !important;
    margin-right: 25px !important;
    margin-bottom: 10px !important;
  }


@media (max-width: 280px) {
  .menu-section {
    flex-direction: row;
  }
}
@media only screen and (min-width: 320px) and (max-width: 400px)  {

  .menu-section {
    flex-direction: column;
  }
  .sub-items a {
    font-size: 10px;
  }


}
@media (max-width: 320px) {

  .sub-items a {
    font-size: 10px;
  }
  .sub-items img {
    width: 64px !important;
    height: 51px !important;
    margin-right: 15px !important;
    margin-bottom: 5px !important;
  }
}
@media (max-width: 290px) {

  .sub-items a {
    font-size: 8px;
  }

  .sub-items img {
    width: 59px !important;
    height: 47px !important;
    margin-right: 15px !important;
    margin-bottom: 5px !important;
  }
}